.editor{
   -fx-background-color:white;
}

.number{
   -fx-font:20 "serif";
   -fx-fill:red;
}

#menu{
   -fx-spacing:8;
   -fx-alignment:center;
   -fx-padding:10;
   -fx-background-color:lightsteelblue;
}

#menu-title{
   -fx-font:20 "serif";
   -fx-fill:blue;
}

.default{
   -fx-font:20 "serif";
   -fx-fill:blue;
}